@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 227, 227, 227;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

.header {
  display: flex;
  background: rgb(115, 100, 255);
  justify-content: space-between;
  padding: 8px 80px 8px 80px;
  gap: 8px;
}

.header .menu-list {
  display: table;
  justify-content: space-between;
  font-size: 14px;
  align-self: center;
  font-weight: 400;
  color: rgb(255, 255, 255);
  gap: 16px;
  left: 19px;
}

.menu-list .menu-option {
  display: table-cell;
  width: 60px;
  height: 37px;
  padding: 10px;
  vertical-align: middle;
}

.menu-list .menu-toggle {
  display: table-cell;
  padding: 16px 10px 10px 10px;
  vertical-align: bottom;
}

.header .cucai-logo {
  padding: 12px 0px 12px 0px;
}

.header .contact-us {
  display: table-cell;
  vertical-align: middle;
  padding: 12px 10px 14px 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.first-section {
  display: flex;
  background: linear-gradient(rgba(115, 100, 255, 1), rgba(162,216,235, 1) 15%);
  justify-content: center;
  align-items: center;
}

.first-section .toronto-skyline {
  background-image: url("/bg-day.png");
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 146px;
  background-repeat: no-repeat;
  background-position: bottom;
  box-sizing: border-box;
}

.first-section .white-box { 
  width: 783px;
  height: 379px;
  align-self: center;
  margin: auto;
  border-radius: 24px;
  padding: 44px 36px 44px 36px;
  gap: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.white-box .title {
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  text-align: center;
}

.white-box .subtext {
  font-size: 28px;
  font-weight: 400;
  line-height: 39.2px;
  text-align: center;
  padding-top: 35px;
}

.white-box .register-button {
  padding: 14px 32px 14px 32px;
  border-radius: 50px;
  background-color: rgba(71, 5, 210, 1);
  color: white;
  margin-left: 39%;
  line-height: 100px;
  text-align: center;
}

.second-section {
  display: flex;
  background: linear-gradient(rgba(77, 136, 255, 1), rgba(162, 216, 235, 1) 20%);
  padding: 100px 80px 100px 80px;
  /* Remove height when adding elements */
  height: 1020px;
}

.second-section .web-video {
  border-radius: 24px;
  border-color: rgba(23, 20, 86, 1);
  width: 401px;
  height: 701px;
  border-width: 8px;
}

.second-section .main-text {
  width: 600px;
  height: 431px;
  gap: 24px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  margin-top: 25%;
  margin-left: 30%;
}

.main-text .big-font {
  height: 124px;
  font-size: 52px;
  font-weight: 700;
  line-height: 62.4px;
  color: rgba(23, 20, 86, 1);
}

.main-text .small-font {
  font-weight: 400;
  font-size: 22px;
  line-height: 37.4px;
  margin-top: 5%;
}

.main-text .register-button {
  padding: 14px 32px 14px 32px;
  border-radius: 50px;
  background-color: rgba(71, 5, 210, 1);
  color: white;
  margin-left: 39%;
  line-height: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-left: 0%;
}

.tbd-section {
  background-color:  rgba(77, 136, 255, 1);
}

.third-section {
 display: block; 
 background: linear-gradient(rgba(163, 217, 236, 1), rgba(77, 136, 255, 1));
 height: 859px;
 padding: 100px 80px 100px 80px;
 gap: 36px;
}

.third-section .title {
  width: 1280px;
  gap: 8px;
}

.third-section .small-font {
  height: 29px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
}

.third-section .big-font {
  height: 62px;
  font-size: 52px;
  font-weight: 700;
  line-height: 62.4px;
  text-align: left;
  color: rgba(23, 20, 86, 1);
  margin-top: 2%;
}

.third-section .speaker-list {
  display: table;
  height: 524px;
  gap: 36px;
}

.speaker-list .speaker-elem {
  display: table-cell;
  width: 322px;
  height: 490px;
  padding: 38px 36px 38px 36px;
  gap: 24px;
}

.speaker-elem .speaker-img {
  width: 250px;
  height: 250px;
  border-radius: 200px;
  background: linear-gradient(rgba(0, 43, 92, 1), rgba(84, 113, 146, 1));
}

.speaker-elem .speaker-name {
  width: 250px;
  height: 34px;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: center;
  margin-top: 7%;
}

.speaker-elem .speaker-text {
  width: 250px;
  height: 19px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  margin-top: 3%;
}

.speaker-elem .speaker-logo {
  margin-top: 7%;
}

.fourth-section {
  display: flex; 
  background: linear-gradient(rgba(77, 136, 255, 1), rgba(163, 217, 236, 1));
  /* May need to remove height when adding elements */
  height: 1856px; 
}
 
.fifth-section {
  display: flex; 
  background: linear-gradient(rgba(163, 217, 236, 1), rgba(77, 135, 255, 1));
  /* May clash with elements CSS */
  height: 574px;
 }
 
.sixth-section {
  display: flex; 
  background: rgba(77, 136, 255, 1);
  /* May clash with element CSS */
  height: 649px;
 }