@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 227, 227, 227;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

.header {
  display: flex;
  background: rgb(41, 41, 42);
  justify-content: space-between;
  padding: 8px 80px 8px 80px;
  gap: 8px;
}

.header .menu-list {
  display: table;
  justify-content: space-between;
  font-size: 14px;
  align-self: center;
  font-weight: 400;
  color: rgb(255, 255, 255);
  gap: 16px;
}

.menu-list .menu-option {
  display: table-cell;
  width: 60px;
  height: 37px;
  padding: 10px;
}

.menu-list .menu-toggle {
  display: table-cell;
  width: 40px;
  height: 40px;
  padding: 10px;
  vertical-align: text-bottom;
}

.header .cucai-logo {
  padding: 12px 0px 12px 0px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
